{% extends "_base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center">Connexion</h3>
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        
      <div class="mb-3">
        <label for="username" class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>

      <div class="mb-3">
        <label for="captcha" class="form-label">{{ captcha_question }}</label>
        <input type="number" class="form-control" id="captcha" name="captcha" required autocomplete="off">
      </div>

      <button type="submit" class="btn btn-primary w-100">Suivant</button>
    </form>
    <p class="text-center mt-3">Pas de compte ? <a href="{{ url_for('auth.register') }}">S'inscrire</a></p>
  </div>
</div>
{% endblock %}